<!-- adminview.component.html -->

<h2>Thêm Địa Điểm Mới</h2>

<div class="form-container">
  <div class="form-group">
    <label for="locationName">Tên Địa Điểm:</label>
    <input type="text" id="locationName" [(ngModel)]="locationName" name="locationName" placeholder="Nhập tên địa điểm...">
  </div>

  <div class="form-group">
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" [(ngModel)]="latitude" name="latitude" placeholder="Nhập vĩ độ...">
  </div>

  <div class="form-group">
    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" [(ngModel)]="longitude" name="longitude" placeholder="Nhập kinh độ...">
  </div>
  <button class="delete-button" (click)="onDelete()">Xóa Địa Điểm</button>
  <button class="add-button" (click)="onSubmit()">Thêm Địa Điểm</button>
    <!-- Hiển thị thông báo thành công hoặc lỗi -->
  <div *ngIf="message" [ngClass]="{'success-message': success, 'error-message': !success}" class="message">
    {{ message }}
  </div>
  
</div>

<p>
    // Huflit - CS1  10.778628519207865, 106.66684981586859
    // Huflit - CS2  10.785373754206741, 106.6629016041987 : cư xá Bắc Hải 
    // Huflit - CS3  10.81252179441444, 106.66478987934516  Trường Sơn
</p>

